extends layout

block content
  div
    h1= title
    ul
      li
        a(href="/") Home
      li
        a(href="/addTodo") Add a new todo

    div(ng-view)

  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular/angular-route.min.js')
  script(src='js/app.js')
  script(src='js/controllers.js')